.container {
    margin-top: 50px;
}

.centralizando {
    padding: 30px;
}

#titulo {
    text-align: center;
}

#img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.negrito {
    font-weight: bolder;
}

.icones {
    max-width:60px;
    max-height:30px;
}